meta(name="viewport" content="width=device-width, initial-scale=1")/
meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")/

meta#color-scheme(name="color-scheme" content=colorSheme)/
meta#theme-color(name="theme-color" content=themeColor)/

//- prioritization sequence: first match, exact-size, type, then "any".
link(rel="icon" type="image/x-icon" sizes="any" href=homeUrl+"icons/favicon.ico")/
link(rel="apple-touch-icon" type="image/png" sizes="180x180" href=homeUrl+"icons/apple-touch-icon.png")/
link(rel="icon" type="image/png" sizes="32x32" href=homeUrl+"icons/favicon-32x32.png")/
link(rel="icon" type="image/png" sizes="16x16" href=homeUrl+"icons/favicon-16x16.png")/
//- link(rel="icon" type="image/svg+xml" sizes="any" href=homeUrl+"icons/icon.svg" )/

//- link(rel="manifest" href=homeUrl+"manifest.json")/

<!--[if lt IE 9]><script src="//unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->