extends ../_templates/text

block append vars
  -
    title = name
    description = 'Fundamental base for websites and apps'
  //- 
 
block main
  .
    # #{title}
    > #{description}
    ---
    
    Template : #{name}  
    Codename : #{shortName} - v#{version}  
    Author   : #{author}  

    URL      : #{url}  

    ---

    Copyright © #{thisYear} #{publisher}